/* 스크롤바 스타일 */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: var(--color-gray-100);
  border-radius: 100px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.scrollbar-mini::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-mini::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-mini::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 2px;
}

.scrollbar-mini::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
