@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  /**
    Font Size
    사용법: text-{size}
    예시:  text-10 | text-12 | text-13 | text-14 | text-16
  */

  --text-10: 0.625rem; /* 10px */
  --text-12: 0.75rem; /* 12px */
  --text-13: 0.8125rem; /* 13px */
  --text-14: 0.875rem; /* 14px */
  --text-16: 1rem; /* 16px */
  --text-18: 1.125rem; /* 18px */
  --text-20: 1.25rem; /* 20px */
  --text-24: 1.5rem; /* 24px */
  --text-32: 2rem; /* 32px */

  /**
    Font Weight
    사용법: font-{name}
    예시:   font-medium | font-bold
  */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /**
    Line Height - Body 전용
    사용법: leading-{name}
    예시:   leading-body-180 | leading-body-140 | leading-body-160
  */
  --leading-body-180: 1.8;
  --leading-body-160: 1.6;
  --leading-body-140: 1.4;
}

/**
   Typography Utilities
   font-size + font-weight 조합
   사용법: typo-{size}-{weight}
   예시:   typo-xs-medium | typo-lg-bold
*/
/* xs - 10px */
@utility typo-xs-medium {
  font-size: var(--text-10);
  font-weight: var(--font-weight-medium);
}
@utility typo-xs-bold {
  font-size: var(--text-10);
  font-weight: var(--font-weight-bold);
}

/* sm - 12px */
@utility typo-sm-medium {
  font-size: var(--text-12);
  font-weight: var(--font-weight-medium);
}
@utility typo-sm-bold {
  font-size: var(--text-12);
  font-weight: var(--font-weight-bold);
}

/* md - 13px */
@utility typo-md-medium {
  font-size: var(--text-13);
  font-weight: var(--font-weight-medium);
}
@utility typo-md-bold {
  font-size: var(--text-13);
  font-weight: var(--font-weight-bold);
}

/* lg - 14px */
@utility typo-lg-medium {
  font-size: var(--text-14);
  font-weight: var(--font-weight-medium);
}
@utility typo-lg-bold {
  font-size: var(--text-14);
  font-weight: var(--font-weight-bold);
}

/* 2lg - 16px */
@utility typo-2lg-medium {
  font-size: var(--text-16);
  font-weight: var(--font-weight-medium);
}
@utility typo-2lg-bold {
  font-size: var(--text-16);
  font-weight: var(--font-weight-bold);
}

/* xl - 18px */
@utility typo-xl-medium {
  font-size: var(--text-18);
  font-weight: var(--font-weight-medium);
}
@utility typo-xl-bold {
  font-size: var(--text-18);
  font-weight: var(--font-weight-bold);
}

/* 2xl - 20px */
@utility typo-2xl-medium {
  font-size: var(--text-20);
  font-weight: var(--font-weight-medium);
}
@utility typo-2xl-bold {
  font-size: var(--text-20);
  font-weight: var(--font-weight-bold);
}

/* 3xl - 24px */
@utility typo-3xl-medium {
  font-size: var(--text-24);
  font-weight: var(--font-weight-medium);
}
@utility typo-3xl-bold {
  font-size: var(--text-24);
  font-weight: var(--font-weight-bold);
}

/* 4xl - 32px */
@utility typo-4xl-medium {
  font-size: var(--text-32);
  font-weight: var(--font-weight-medium);
}
@utility typo-4xl-bold {
  font-size: var(--text-32);
  font-weight: var(--font-weight-bold);
}

/* Body */
@utility typo-lg-body-m {
  font-size: var(--text-14);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-body-180); /* 1.8 */
}
@utility typo-2lg-body-m {
  font-size: var(--text-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-body-180); /* 1.8 */
}
@utility typo-xl-body-b {
  font-size: var(--text-18);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-body-140); /* 1.4 */
}
@utility typo-2xl-body-b {
  font-size: var(--text-20);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-body-160); /* 1.6 */
}
