@theme {
  --font-pretendard: 'Pretendard Variable', sans-serif;
  /**
    Font Size
    사용법: text-{name}
    예시:  text-xs | text-sm | text-md | text-lg | text-2lg
  */
  --text-xs: 0.625rem; /* 10px */
  --text-sm: 0.75rem; /* 12px */
  --text-md: 0.8125rem; /* 13px */
  --text-lg: 0.875rem; /* 14px */
  --text-2lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.25rem; /* 20px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 2rem; /* 32px */

  /**
    Font Weight
    사용법: font-{name}
    예시:   font-medium | font-bold
  */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /**
    Line Height - Body 전용
    사용법: leading-{name}
    예시:   leading-body-180 | leading-body-140 | leading-body-160
  */
  --leading-body-180: 1.8;
  --leading-body-160: 1.6;
  --leading-body-140: 1.4;
}

/**
   Typography Utilities
   font-size + font-weight 조합
   사용법: typo-{size}-{weight}
   예시:   typo-xs-medium | typo-lg-bold
*/
/* xs - 10px */
@utility typo-xs-medium {
  font-size: var(--text-xs);
  font-weight: var(--font-weight-medium);
}
@utility typo-xs-bold {
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
}

/* sm - 12px */
@utility typo-sm-medium {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
}
@utility typo-sm-bold {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
}

/* md - 13px */
@utility typo-md-medium {
  font-size: var(--text-md);
  font-weight: var(--font-weight-medium);
}
@utility typo-md-bold {
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
}

/* lg - 14px */
@utility typo-lg-medium {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
}
@utility typo-lg-bold {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}

/* 2lg - 16px */
@utility typo-2lg-medium {
  font-size: var(--text-2lg);
  font-weight: var(--font-weight-medium);
}
@utility typo-2lg-bold {
  font-size: var(--text-2lg);
  font-weight: var(--font-weight-bold);
}

/* xl - 18px */
@utility typo-xl-medium {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
}
@utility typo-xl-bold {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
}

/* 2xl - 20px */
@utility typo-2xl-medium {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-medium);
}
@utility typo-2xl-bold {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

/* 3xl - 24px */
@utility typo-3xl-medium {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-medium);
}
@utility typo-3xl-bold {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
}

/* 4xl - 32px */
@utility typo-4xl-medium {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-medium);
}
@utility typo-4xl-bold {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
}

/* Body */
@utility typo-lg-body-m {
  font-size: var(--text-lg); /* 14px */
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-body-180); /* 180% */
}
@utility typo-2lg-body-m {
  font-size: var(--text-2lg); /* 16px */
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-body-180); /* 180% */
}
@utility typo-xl-body-b {
  font-size: var(--text-xl); /* 18px */
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-body-140); /* 140% */
}
@utility typo-2xl-body-b {
  font-size: var(--text-2xl); /* 20px */
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-body-160); /* 160% */
}
